
<div class="homepage">
    <table st-safe-src="rowCollection" st-table="displayCollection" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="CName" st-skip-natural="true"> Container name </th>
            <th> CPU Usage </th>
            <th st-sort="CStatus"> Status </th>
            <th st-sort="CSize"> Size </th>
            <th> Operation </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayCollection">
            <td>{{row.CName }}</td>
            <td>{{row.cpu_usage}}</td>
            <td>{{row.CStatus }}</td>
            <td>{{row.CSize }}</td>

            <td>
                <button type="button" ng-class="{'btn-danger': row.CState == 'running', 'btn-warning': row.CState == 'crashed'}" class="btn btn-opr btn-success">
                    <!--<i class="glyphicon glyphicon-remove-circle"> ng-click="clickHandler(row.CId)"
                    </i> --> STOP
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>




